<template>
  <div v-if="order">
    <modal-window v-model="show" @ok="createSubmit()" @cancel="cancel()" @closed="onClose()" title="Editácia objednávky" cancelText="Zrušïť" okText="Uložiť" :medium="true">
      <form>
        <div class="row">
          <div class="col-md-6" v-if="order.type === 'INCOMING'">
            <div class="form-group" :class="{ 'has-error': errors.has('number') }">
              <label for="number">Číslo</label>
              <input class="form-control" id="number" placeholder="Zadaj číslo" v-model.trim="order.number" name="number" maxlength="100" v-validate="'required|min:1|max:20'">
              <p class="text-danger" v-if="errors.has('number')">{{ errors.first('number') }}</p>
            </div>
          </div>
        </div>
        <div class="row" v-if="order.type === 'DELIVERY'">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('mainOrder') }">
              <label>Prijatá objednávka</label>
              <v-select v-model="selectedMainOrder" :options="mainOrderOptions"></v-select>
              <input type="hidden" v-model="order.mainOrder" name="mainOrder" id="mainOrder">
              <p class="text-danger" v-if="errors.has('mainOrder')">{{ errors.first('mainOrder') }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('supplier') }">
              <label>Dodávateľ</label>
              <v-select v-model="selectedSupplier" :options="supplierOptions"></v-select>
              <input type="hidden" v-model="order.supplier" name="supplier" id="supplier" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('supplier')">{{ errors.first('supplier') }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('subscriber') }">
              <label>Odberateľ</label>
              <v-select v-model="selectedSubscriber" :options="subscriberOptions"></v-select>
              <input type="hidden" v-model="order.subscriber" name="subscriber" id="subscriber" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('subscriber')">{{ errors.first('subscriber') }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('validFrom') }">
              <label>Platná od</label>
              <date-select v-model="order.validFrom"></date-select>
              <input type="hidden" v-model="order.validFrom" name="validFrom" id="validFrom" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('validFrom')">{{ errors.first('validFrom') }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('validTo') }">
              <label>Platná do</label>
              <date-select v-model="order.validTo"></date-select>
              <input type="hidden" v-model="order.validTo" name="validTo" id="validTo" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('validTo')">{{ errors.first('validTo') }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('mdNumber') }">
              <label for="mdNumber">Počet MD</label>
              <input type="number" class="form-control" id="mdNumber" placeholder="Zadaj počet MD" v-model.trim="order.mdNumber" name="mdNumber" min="1" v-validate="'required|numeric|min_value:1'">
              <p class="text-danger" v-if="errors.has('mdNumber')">{{ errors.first('mdNumber') }}</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" :class="{ 'has-error': errors.has('mdRate') }">
              <label for="mdRate">Cena za MD</label>
              <input type="number" class="form-control" id="mdRate" placeholder="Zadaj cenu" v-model.trim="order.mdRate" name="mdRate" min="1" v-validate="'required|numeric|min_value:1'">
              <p class="text-danger" v-if="errors.has('mdRate')">{{ errors.first('mdRate') }}</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" :class="{ 'has-error': errors.has('currency') }">
              <label>Mena</label>
              <v-select v-model="selectedCurrency" :options="currencies"></v-select>
              <input type="hidden" v-model="order.currency" name="currency" id="currency" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('currency')">{{ errors.first('currency') }}</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group" :class="{ 'has-error': errors.has('mdNumber') }">
              <label for="mdNumber">Suma objednávky</label>
              <span>{{ order.sum | currency(order.currency) }}</span>
            </div>
          </div>
        </div>
      </form>
    </modal-window>
  </div>
</template>

<script>
  import _ from 'lodash';
  import { mapState, mapGetters } from 'vuex';
  import { currencies } from 'codelist/';
  import modal from 'vue-strap/src/Modal';
  import dateSelect from 'components/dateSelect';
  import vSelect from 'vue-select';
  import notificationService from 'services/notificationService';

  const currencyTransformation = codeList => ({label: codeList.label, value: codeList.id});
  const companyTransformation = company => ({label: company.name, value: company.id});
  const orderTransformation = order => ({label: order.number, value: order.id});

  export default {
    components: {modalWindow: modal, dateSelect: dateSelect, vSelect: vSelect},
    data: () => ({
      show: false,
      vatPayer: false,
      order: null,
      currencies: _.map(currencies, currencyTransformation),
      selectedCurrency: null,
      selectedSupplier: null,
      selectedSubscriber: null,
      selectedMainOrder: null
    }),
    computed: {
      ...mapState({
        companies: (state) => state.company.items,
        project: (state) => state.tmProject.selected,
        mainOrderOptions: (state) => state.tmProject.selected.incomingOrders.map(orderTransformation)
      }),
      subscriberOptions() {
        return this.order.type === 'INCOMING' ?
          (this.$store.getters['company/customers']).map(companyTransformation)
          : (this.$store.getters['company/ownershipped']).map(companyTransformation);
      },
      supplierOptions() {
        return this.order.type === 'INCOMING' ?
          (this.$store.getters['company/ownershipped']).map(companyTransformation)
          : (this.$store.getters['company/customers']).map(companyTransformation);
      },
    },
    props: {
      showModel: {
        type: Boolean,
        default () {
          return false;
        }
      },
      model: {
        type: Object
      }
    },
    methods: {
      createSubmit() {
        this.protect();
        this.$validator.validateAll().then((res) => {
          if (res) {
            let operation;
            if (this.order.id) {
              operation = 'tmOrder/update';
            } else {
              operation = 'tmOrder/create';
            }
            const order = _.cloneDeep(this.order);
            this.$store.dispatch(operation, order).then((result) => {
              if (result) {
                notificationService.success('order.edit.success');
                this.$emit('close');
              } else {
                this.unprotect();
              }
            }).catch(this.unprotect);
          } else {
            this.unprotect();
          }
        }).catch(this.unprotect);
      },
      clear() {
        this.selectedCurrency = null;
        this.selectedSupplier = null;
        this.selectedSubscriber = null;
        this.selectedMainOrder = null;
        this.order = null;
        this.$nextTick(() => {
          this.errors.clear();
        });
      },
      cancel() {
        this.$emit('close');
      },
      onClose() {
        this.unprotect();
        this.clear();
      }
    },
    watch: {
      showModel(showModel) {
        this.show = showModel;
      },
      model: function (model) {
        this.order = _.cloneDeep(model);
        if (model) {
          this.selectedCurrency = _.find(this.currencies, {value: this.order.currency});
          this.selectedSupplier = this.order.supplier ? _.find(this.supplierOptions, {value: this.order.supplier.id}) : null;
          this.selectedSubscriber = this.order.subscriber ? _.find(this.subscriberOptions, {value: this.order.subscriber.id}) : null;
          this.selectedMainOrder = this.order.mainOrder ? _.find(this.mainOrderOptions, {value: this.order.mainOrder.id}) : null;
        }
      },
      selectedCurrency: function (selectedCurrency) {
        if (!this.order) return;
        this.order.currency = !!selectedCurrency ? selectedCurrency.value : null;
      },
      selectedSupplier: function (selectedSupplier) {
        if (!this.order) return;
        this.order.supplier = !!selectedSupplier ? _.find(this.companies, {id: selectedSupplier.value}) : null;
      },
      selectedSubscriber: function (selectedSubscriber) {
        if (!this.order) return;
        this.order.subscriber = !!selectedSubscriber ? _.find(this.companies, {id: selectedSubscriber.value}) : null;
      },
      selectedMainOrder: function (selectedMainOrder) {
        if (!this.order) return;
        this.order.mainOrder = !!selectedMainOrder ? _.find(this.project.incomingOrders, {id: selectedMainOrder.value}) : null;
      }
    },
    created () {
      this.$store.dispatch('company/getAll');
    }
  }
</script>
