<template>
  <div>
    <div class="content-header">
      <h1>Užívatelia</h1>
    </div>
    <section class="content">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" v-model="query" class="form-control" placeholder="Vyhľadaj podľa mena.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                <button class="btn btn-success" type="button" @click="createShow()"><i class="fa fa-plus" aria-hidden="true"></i> Pridať užívateľa
                </button>
                <user-modal :show-model="showCreateModal" :model="selectedUser" @close="hideModals()"></user-modal>
                <password-change-modal :show-model="showChangePasswordModal" :model="selectedUser" @close="hideModals()"></password-change-modal>
              </p>
            </div>
          </div>
          <div class="row" v-if="users && users.length">
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th>Meno</th>
                  <th>Priezvisko</th>
                  <th>E-mail</th>
                  <th>Telefónne číslo</th>
                  <th class="text-center">Administrátor</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="user in users">
                  <tr :class="{inactive : !user.active}">
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td class="text-center"><i class="fa" :class="{'fa-check text-success': user.roles.includes('ADMIN'), 'fa-times text-danger': !user.roles.includes('ADMIN')}"></i>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-link" :disabled="!editable(user.id)" @click.prevent="editUser(user)"><i class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                      <button class="btn btn-xs btn-link" :disabled="!editable(user.id)" @click.prevent="changePassword(user)"><i class="fa fa-2x fa-key text-primary" title="Zmena hesla"></i></button>
                      <button class="btn btn-xs btn-link" :disabled="!activatable(user.id)" @click.prevent="toggleUserActive(user)"><i :class="{'fa-toggle-on': user.active, 'fa-toggle-off text-success': !user.active}" class="fa fa-2x" :title="user.active ? 'Deaktivovať' : 'Aktivovať'"></i></button>
                      <button class="btn btn-xs btn-link" :disabled="!deletable(user.id)" @click.prevent="deleteUser(user)"><i class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <div v-else-if="loading" class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </div>
          <div v-else class="row">
            <div class="col-md-12">
              <alert type="warning">Žiadny uživateľ neexistuje.</alert>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</template>

<script>
  import _ from 'lodash';
  import {alert} from 'vue-strap';
  import {mapState} from 'vuex';
  import userModal from 'components/userCreateModal';
  import passwordChangeModal from 'components/passwordChangeModal';
  import notificationService from 'services/notificationService';
  import userService from 'services/userService';

  export default {
    components: {alert, userModal, passwordChangeModal},
    data: () => ({
      showCreateModal: false,
      showChangePasswordModal: false,
      selectedUser: null,
      query: null
    }),
    computed: mapState({
      loading: (state) => state.app.loadingData,
      currentUser: (state) => state.auth.user,
      users(state) {
        let allUsers = state.user.items;
        if (this.query) {
          let regexp = new RegExp(this.query.toLowerCase(), "g");
          return allUsers.filter(item => !!item.firstname.toLowerCase().match(regexp) || !!item.surname.toLowerCase().match(regexp));
        } else {
          return allUsers;
        }
      }
    }),
    methods: {
      createShow () {
        this.selectedUser = userService.newUser();
        this.showCreateModal = true;
      },
      hideModals () {
        this.showCreateModal = false;
        this.showChangePasswordModal = false;
      },
      deletable (userId) {
        return this.currentUser.id !== userId;
      },
      activatable (userId) {
        return this.currentUser.id !== userId;
      },
      editable (userId) {
        return this.currentUser.id !== userId;
      },
      deleteUser (user) {
        this.confirm('user.delete.confirmation', [user.username]).then(() => {
          this.$store.dispatch('user/delete', user.id).then((result) => {
              if (result) {
                notificationService.success('Uživateľský účet bol zmazaný.');
              }
          }).catch(this.unprotect);
        });
      },
      toggleUserActive (user) {
          if (user.active) {
            this.$store.dispatch('user/deactivate', user.id);
            notificationService.success('Uživateľský účet bol deaktivovaný.');
          } else {
            this.$store.dispatch('user/activate', user.id);
            notificationService.success('Uživateľský účet bol aktivovaný.');
          }
      },
      editUser (user) {
        this.selectedUser = _.cloneDeep(user);
        this.showCreateModal = true;
      },
      changePassword (user) {
        this.selectedUser = _.cloneDeep(user);
        this.showChangePasswordModal = true;
      }
    },
    created () {
      this.$store.dispatch('user/getAll')
    }
  }
</script>
